<?php
  require __DIR__.'/head.html';
  require __DIR__.'/nav.html';
  $File_Ming = 'addapi';
  ?>
    <div class="xp-rightbar">
        <div class="xp-topbar">

            <div class="row">

                <!-- Start XP Col -->
                <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                    <div class="xp-menubar">
                        <a class="xp-menu-hamburger" href="javascript:void();">
                            <i class="icon-menu font-20 text-white"></i>
                        </a>
                    </div>
                </div>
                <!-- End XP Col -->

                <!-- Start XP Col -->
                <div class="col-10 col-md-11 col-lg-11 order-1 order-md-2">
                    <div class="xp-profilebar text-right">

                    </div>
                </div>
                <!-- End XP Col -->

            </div>

        </div>

        <div class="xp-breadcrumbbar">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h4 class="xp-page-title">邮箱设置</h4>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="xp-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">控制台</a></li>
                            <li class="breadcrumb-item active" aria-current="page">邮箱设置</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="xp-contentbar">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">

                        <div class="card-header bg-white">
                            <h5 class="card-title text-black">Email Setting</h5>
                            <h6 class="card-subtitle">设置网站的Email配置信息.</h6>
                        </div>

                        <div class="card-body">
            <form id="admin-email">
                <div class="tile">
                    <div class="tile-body">
                        <div class="form-group">
                            <label class="control-label">发件人姓名</label>
                            <input class="form-control" type="text" name="mail_name"
                                value="<?php echo $web['mail_name'];?>" placeholder="API官网">
                        </div>
                        <div class="form-group">
                            <label class="control-label">SMTP地址</label>
                            <input class="form-control" type="text" name="mail_smtp"
                                value="<?php echo $web['mail_smtp'];?>" placeholder="smtp.qq.com">
                        </div>
                        <div class="form-group">
                            <label class="control-label">SMTP端口</label>
                            <input class="form-control" type="text" name="mail_port"
                                value="<?php echo $web['mail_port'];?>" placeholder="465">
                        </div>
                        <div class="form-group">
                            <label class="control-label">邮箱账号</label>
                            <input class="form-control" type="text" name="mail_user"
                                value="<?php echo $web['mail_user'];?>" placeholder="admin@qq.com">
                        </div>
                        <div class="form-group">
                            <label class="control-label">邮箱密码（授权码）</label>
                            <input class="form-control" type="text" name="mail_pwd"
                                value="<?php echo $web['mail_pwd'];?>" placeholder="xoxoxxox">
                        </div>
                        <div class="form-group">
                            <label class="control-label">提示：<span style="color:#e60c0c">请确保已经开启了邮箱通讯服务</span></label>
                        </div>
                    </div>
                    <div class="tile-footer">
                        <button class="btn btn-primary" type="button"><i
                                class="fa fa-fw fa-lg fa-check-circle"></i>保存</button>
                        <span style="color:#e60c0c"></span>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

    <?php  require __DIR__.'/footer.html'; ?>

    <script>
        layui.use('carousel', function () {
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test-carousel-normal',
                width: '100%' //设置容器宽度
                ,
                height: '238px' //设置容器宽度
                ,
                arrow: 'always' //始终显示箭头
                //,anim: 'updown' //切换动画方式
            });
        });

        $('#admin-email button').click(function () {
            fd = new FormData(document.getElementById('admin-email'));
            $.ajax({
                url: '/admin/email',
                type: "POST",
                timeout: "5000",
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                data: fd,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.code == "200") {
                        layer.msg(data.msg);
                    } else {
                        layer.msg(data.msg);
                    }
                },
                error: function (XMLResponse) {
                    layer.msg(XMLResponse.error);
                }
            });
        });
    </script>