            <div class="xp-footerbar">
                <footer class="footer">
                    <p class="mb-0">© 2022-2023 API管理系统 - All Rights <a href="http://api.aa1.cn/" target="_blank">Reserved</a> Based On ZeroArt Open Source System</p>
                </footer>
            </div>

        </div>

    </div>
    <script src="https://cdn.wpon.cn/api-admin/assets/js/jquery.min.js"></script>
    <script src="https://cdn.wpon.cn/api-admin/assets/js/popper.min.js"></script>
    <script src="https://tucdn.wpon.cn/2022/12/01/732953d664c2c.js"></script>
    <script src="https://cdn.wpon.cn/api-admin/assets/js/modernizr.min.js"></script>
    <script src="https://cdn.wpon.cn/api-admin/assets/js/detect.js"></script>
    <script src="https://cdn.wpon.cn/api-admin/assets/js/jquery.slimscroll.js"></script>
    <script src="https://cdn.wpon.cn/api-admin/assets/js/sidebar-menu.js"></script>

    <script src="https://cdn.wpon.cn/api-admin/assets/plugins/chartist-js/chartist.min.js"></script>
    <script src="https://cdn.wpon.cn/api-admin/assets/plugins/chartist-js/chartist-plugin-tooltip.min.js"></script>

    <script src="https://cdn.wpon.cn/api-admin/assets/js/init/to-do-list-init.js"></script>

    <script src="https://cdn.wpon.cn/api-admin/assets/plugins/datepicker/datepicker.min.js"></script>
    <script src="https://cdn.wpon.cn/api-admin/assets/plugins/datepicker/i18n/datepicker.en.js"></script>

    <script src="https://cdn.wpon.cn/api-admin/assets/js/init/dashborad.js"></script>


    <script src="https://cdn.wpon.cn/api-admin/assets/js/main.js"></script>



</body>

</html>
<script src="/assets/awesome/js/jquery-3.2.1.min.js"></script>
<script src="/assets/awesome/js/popper.min.js"></script>
<script src="/assets/awesome/js/bootstrap.min.js"></script>
<script src="/assets/awesome/js/main.js"></script>
<script src="/assets/awesome/js/plugins/pace.min.js"></script>
<script src="/assets/awesome/js/plugins/chart.js"></script>
<script type="text/javascript" src="/assets/awesome/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/awesome/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $('#sampleTable').DataTable();
</script>
<script src="/assets/layui/layui.all.js"></script>
 <script src="/assets/layui/layui.js"></script> 