<!DOCTYPE html>
<html lang="en">

    <head>
        <title>管理员 - 后台</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Layui CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/layui/css/layui.css">
        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" href="/assets/awesome/css/main.css">
        <!-- 自定义 -->
        <link rel="stylesheet" type="text/css" href="/assets/awesome/css/patch.css">
        <!-- Font-icon css-->
        <link rel="stylesheet" type="text/css" href="/assets/awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/font_1332398_z4m8t7izbwk.css">
    </head>

    <body class="app sidebar-mini rtl">