<?php
  require __DIR__.'/head.html';
  require __DIR__.'/nav.html';

  ?>
  

        <div class="xp-rightbar">

            <div class="xp-topbar">

                <div class="row">

                    <!-- Start XP Col -->
                    <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                        <div class="xp-menubar">
                            <a class="xp-menu-hamburger" href="javascript:void();">
                                <i class="icon-menu font-20 text-white"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End XP Col -->

                    <!-- Start XP Col -->
                    <div class="col-10 col-md-11 col-lg-11 order-1 order-md-2">
                        <div class="xp-profilebar text-right">
                           
                        </div>
                    </div>
                    <!-- End XP Col -->

                </div>

            </div>

            <!-- 导航 Start-->
            <div class="xp-breadcrumbbar">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <h4 class="xp-page-title">Dashboard</h4>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="xp-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 导航 End-->

            <!-- 模块一 Start-->
            <div class="xp-contentbar">
                
                <div class="row"> 

                    <!-- Api统计 Start -->
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="xp-widget-box">
                                    <div class="float-left">
                                        <h4 class="xp-counter text-primary"><?php echo count($data['api']);?></h4>
                                        <p class="mb-0 font-16 text-muted">Api Data</p>                        
                                    </div>
                                    <div class="float-right">
                                        <div class="xp-widget-icon xp-widget-icon-bg bg-primary-rgba">
                                            <i class="mdi mdi-file-document font-30 text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress mt-3 mb-1" style="height: 5px;">
                                      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0 text-primary">API数量接口统计</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Api统计 End -->

                    <!-- 累计收益统计 Start-->                       
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="xp-widget-box">
                                    <div class="float-left">
                                        <h4 class="xp-counter text-success"><?php echo $data['profit'];?></h4>
                                        <p class="mb-0 font-16 text-muted">Total Revenue</p>                        
                                    </div>
                                    <div class="float-right">
                                        <div class="xp-widget-icon xp-widget-icon-bg bg-success-rgba">
                                            <i class="mdi mdi-currency-usd font-30 text-success"></i>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress mt-3 mb-1" style="height: 5px;">
                                      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0 text-success">平台累计收益</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 累计收益统计 End-->

                    <!-- 平台会员统计 Start-->                       
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="xp-widget-box">
                                    <div class="float-left">
                                        <h4 class="xp-counter text-warning"><?php echo count($data['total']);?></h4>
                                        <p class="mb-0 font-16 text-muted">Total Clients</p>                        
                                    </div>
                                    <div class="float-right">
                                        <div class="xp-widget-icon xp-widget-icon-bg bg-warning-rgba">
                                            <i class="mdi mdi-account-multiple font-30 text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress mt-3 mb-1" style="height: 5px;">
                                      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0 text-warning">平台会员统计</p>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 平台会员统计 End -->

                    <!-- 今日注册统计 Start-->                       
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="xp-widget-box">
                                    <div class="float-left">
                                        <h4 class="xp-counter text-danger"><?php echo count($data['register']);?></h4>
                                        <p class="mb-0 font-16 text-muted">Register today</p>                        
                                    </div>
                                    <div class="float-right">
                                        <div class="xp-widget-icon xp-widget-icon-bg bg-danger-rgba">
                                            <i class="mdi mdi-eye font-30 text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress mt-3 mb-1" style="height: 5px;">
                                      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0 text-danger">今天注册用户统计</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 今日注册统计 End-->

                </div>

                <!-- 模块一 End-->

                <!-- 模块二 Start-->
                <div class="row">
                    <!-- 程序介绍 Start-->
                    <div class="col-md-12 col-lg-12 col-xl-7">

                      <div class="">
                        <div class="xp-email-rightbar">
                            <div class="card email-open-box m-b-30">

                                <div class="card-header bg-white">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item"><h5 class="mt-2 mb-0 text-black">程序使用介绍</h5></li>
                                       
                                    </ul>
                                </div>

                                <div class="card-body">                                    
                                    <div class="row m-b-30">
                                        <div class="col-md-5">
                                            <div class="media">
                                              <img class="align-self-center mr-3" src="https://api.aa1.cn/logo.png" alt="Generic placeholder image">
                                              <div class="media-body">
                                                <h6 class="mt-0 text-black">夏柔</h6>
                                                <p class="text-muted mb-0">admin@aa1.cn</p>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="open-email-head">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item">版本号：1.1.0</li>
                                                
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6 class="mt-0">在使用期间，您可以将问题报告提交至上面邮箱</h6>
                                            <p class="text-muted">Hi,</p>
                                            <p>程序基于<a href="https://gitee.com/zeroart/api_spms_open?_from=gitee_search" target="_blank">ZeroArt</a>二次开发美化 - 模板来自<a href="https://www.aa1.cn/" target="_blank">泽客</a>贡献</p>
                                            <p>1.接口添加在接口管理中,通过其的接口添加可以自由的添加新的接口！</p>
                    <p>2.接口管理者的参数设置，需要先添加接口后才可以设置，参数分为三种：请求、返回、错误。</p>

                                            <p class="text-muted">Github开源地址：<a href="https://github.com/050310Y/freeapi">前往</a> Bug反馈QQ：15001904. 站长交流群：938564996</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    </div>
                    <!--程序介绍 End-->

                    <!-- 服务器系统 Start-->
                    <div class="col-md-12 col-lg-12 col-xl-5">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="card bg-primary-gradient m-b-30">
                                    <div class="card-body">
                                        <div class="xp-widget-box text-white text-center pt-3">
                                            <p class="xp-icon-timer mb-4"><i class="icon-layers"></i></p>
                                            <h4 class="mb-2 font-20">PHP运行版本</h4>
                                            <p class="mb-3"><?php echo PHP_VERSION ?></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="card bg-primary-gradient m-b-30">
                                    <div class="card-body">
                                        <div class="xp-widget-box text-white text-center pt-3">
                                            <p class="xp-icon-timer mb-4"><i class="icon-drop"></i></p>
                                            <h4 class="mb-2 font-20">读写权限</h4>
                                            <p class="mb-3"><?php echo is_writable('../config/webset.php') ? '<span style="">Ok</span>' : '<span style="">No</span>' ?></p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- 服务器信息 Start-->
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="card bg-success-gradient m-b-30">
                                    <div class="card-body">
                                        <div class="xp-widget-box text-white text-center pt-3">
                                            <p class="xp-icon-timer mb-4"><i class="icon-social-dropbox"></i></p>
                                            <h4 class="mb-2 font-20">服务器解释引擎</h4>
                                            <p class="mb-3"><?php echo $_SERVER['SERVER_SOFTWARE']; ?></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 服务器信息 End-->

                            <!-- 版本号 Start-->
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="card bg-danger-gradient m-b-30">
                                    <div class="card-body">
                                        <div class="xp-widget-box xp-widget-newsletter text-white text-center pt-3">
                                            <p class="xp-icon-timer mb-4"><i class="icon-paper-plane"></i></p>
                                            <h4 class="mb-2 font-20">版本号</h4>
                                            <p class="mb-3">V1.1.0</p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 版本号 End-->
                        </div>
                    </div>

                </div>

            </div>

<?php require __DIR__.'/footer.html';?>
  
