                <!-- 导航 Start -->
                <h1 style="margin-left:46px;margin-top:10px;color:#4c7cf3;"> FreeAPI</h1>
                <div class="xp-navigationbar">
                    <div class="slimScrollDiv active" style="position: relative; overflow: hidden; width: auto; height: 700px;">
                        <ul class="xp-vertical-menu in" style="overflow: hidden; width: auto; height: 700px;">
                            <li class="xp-vertical-header">Main</li>
                            <li>
                                <a href="/admin/index.html">
                                    <i class="icon-speedometer"></i><span>控制台</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/webset.html">
                                    <i class="icon-graph"></i><span>网站设置</span>
                                </a>
                                
                            </li>
                            <li>
                                <a href="javaScript:void();">
                                    <i class="icon-layers"></i><span>接口管理</span><i class="icon-arrow-right pull-right"></i>
                                </a>
                                <ul class="xp-vertical-submenu">
                                    <li><a href="/admin/addapi.html">添加接口</a></li>
                                    <li><a href="/admin/apiinfo.html">参数设置</a></li>
                                    <li><a href="/admin/apilist.html">接口列表</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javaScript:void();">
                                    <i class="mdi mdi-account-multiple"></i><span>会员管理</span><i class="icon-arrow-right pull-right"></i>
                                </a>
                                <ul class="xp-vertical-submenu">
                                    <li><a href="/admin/adduser.html">添加会员</a></li>
                                    <li><a href="/admin/userinfo.html">会员列表</a></li>
                                    <li><a href="/admin/order.html">订单记录</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/admin/redis.html">
                                    <i class="mdi mdi-leaf"></i><span>Redis设置</span>
                                </a>
                                
                            </li>
                            <li>
                                <a href="/admin/email.html">
                                    <i class="mdi mdi-mailbox"></i><span>邮箱配置</span>
                                </a>
                                
                            </li>
                            <li class="xp-vertical-header">夏柔API管理系统</li>
                        </ul>
                        <div class="slimScrollBar" style="background-color: rgb(207, 216, 220); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 700px;"></div>
                        <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                    </div>
                </div>
                  </div>

        </div>
                <!-- 导航 End -->