<?php require __DIR__. '/head.html'; $File_Ming='order' ; require __DIR__.
'/nav.html'; ?>
	<div class="xp-rightbar">
		<div class="xp-topbar">
			<div class="row">
				<div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
					<div class="xp-menubar">
						<a class="xp-menu-hamburger" href="javascript:void();">
							<i class="icon-menu font-20 text-white">
							</i>
						</a>
					</div>
				</div>
				<div class="col-10 col-md-11 col-lg-11 order-1 order-md-2">
					<div class="xp-profilebar text-right">
					</div>
				</div>
			</div>
		</div>
		<div class="xp-breadcrumbbar">
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<h4 class="xp-page-title">
						订单记录
					</h4>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="xp-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="index.html">
									<i class="icon-home">
									</i>
								</a>
							</li>
							<li class="breadcrumb-item">
								<a href="#">
									会员管理
								</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">
								订单记录
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="xp-contentbar">
			<div class="row">
				<div class="col-lg-12">
					<div class="card m-b-30">
						<div class="card-header bg-white">
							<h5 class="card-title text-black mb-0">
								Our Projects
							</h5>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="border-top-0">
												ID
											</th>
											<th class="border-top-0">
												用户账号
											</th>
											<th class="border-top-0">
												订单号
											</th>
											<th class="border-top-0">
												实际支付
											</th>
											<th class="border-top-0">
												消费类型
											</th>
											<th class="border-top-0">
												消费时间
											</th>
											<th class="border-top-0">
												到期时间
											</th>
										</tr>
									</thead>
									<tbody>
										<?php if(!empty($data)): foreach($data as $k=>
											$v):?>
											<tr>
												<td>
													<?php echo $k+1;?>
												</td>
												<td>
													<?php echo $v[ 'a_u_name'];?>
												</td>
												<td>
													<?php echo $v[ 'o_pay_no'];?>
												</td>
												<td>
													<?php echo $v[ 'o_price'];?>
														元
												</td>
												<td>
													<?php if($v[ 'o_type']==1){echo '新购';}else{ echo "续费";}?>
												</td>
												<td>
													<?php echo $v[ 'o_time'];?>
												</td>
												<td>
													<?php echo date( "Y-m-d H:i:s",$v[ 'o_expire']);?>
												</td>
											</tr>
											<?php endforeach; endif;?>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<?php require __DIR__. '/footer.html'; ?>