<?php
  require __DIR__.'/head.html';
  require __DIR__.'/nav.html';
  $File_Ming = 'addapi';
  ?>
    <div class="xp-rightbar">
        <div class="xp-topbar">

            <div class="row">

                <!-- Start XP Col -->
                <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                    <div class="xp-menubar">
                        <a class="xp-menu-hamburger" href="javascript:void();">
                            <i class="icon-menu font-20 text-white"></i>
                        </a>
                    </div>
                </div>
                <!-- End XP Col -->

                <!-- Start XP Col -->
                <div class="col-10 col-md-11 col-lg-11 order-1 order-md-2">
                    <div class="xp-profilebar text-right">

                    </div>
                </div>
                <!-- End XP Col -->

            </div>

        </div>

        <div class="xp-breadcrumbbar">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h4 class="xp-page-title">Redis设置</h4>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="xp-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">控制台</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Redis设置</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="xp-contentbar">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">

                        <div class="card-header bg-white">
                            <h5 class="card-title text-black">Redis Setting</h5>
                            <h6 class="card-subtitle">设置网站的Redis配置信息.</h6>
                        </div>

                        <div class="card-body">
                            <form id="admin-redis">
                                <div class="tile">
                                    <div class="tile-body">
                                        <div class="form-group">
                                            <label class="control-label">Redis端口</label>
                                            <input class="form-control" type="text" name="redis_port" value="<?php echo $web['redis_port'];?>" placeholder="6379">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Redis密码</label>
                                            <input class="form-control" type="text" name="redis_pass" value="<?php echo $web['redis_pass'];?>" placeholder="123456">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">限制周期访问次数</label>
                                            <input class="form-control" type="text" name="redis_next" value="<?php echo $web['redis_next'];?>" placeholder="1">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Redis周期</label>
                                            <input class="form-control" type="text" name="redis_period" value="<?php echo $web['redis_period'];?>" placeholder="2">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">IP白名单数</label>
                                            <input class="form-control" type="text" name="redis_ips" value="<?php echo $web['redis_ips'];?>" placeholder="1">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">频繁提示</label>
                                            <textarea class="form-control" id="redis_msg" name="redis_msg" rows="2" placeholder="请输入人备案号"><?php echo $web['redis_msg'];?></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="details">Redis开关</label>
                                            <div class="toggle-flip">
                                                <label>
                                    <input type="checkbox"
                                        <?php if(isset($web['redis_on']) && !empty($web['redis_on'])){echo 'checked="checked"';}?>
                                        value="1" name="redis_on">
                                    <span class="flip-indecator" data-toggle-on="ON" data-toggle-off="OFF"></span>
                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">提示：
                                <span style="color:#e60c0c">请确保已经开启Redis服务</span>
                            </label>
                                        </div>
                                    </div>
                                    <div class="tile-footer">
                                        <button class="btn btn-primary" type="button"><i
                                class="fa fa-fw fa-lg fa-check-circle"></i>保存</button>
                                        <span style="color:#e60c0c"></span>
                                    </div>
                                </div>
                            </form>

                        </div>
                        </div>
                        </div>

                        <?php  require __DIR__.'/footer.html'; ?>

                        <script>
                            layui.use('carousel', function() {
                                var carousel = layui.carousel;
                                //建造实例
                                carousel.render({
                                    elem: '#test-carousel-normal',
                                    width: '100%' //设置容器宽度
                                        ,
                                    height: '238px' //设置容器宽度
                                        ,
                                    arrow: 'always' //始终显示箭头
                                        //,anim: 'updown' //切换动画方式
                                });
                            });

                            $('#admin-redis button').click(function() {
                                fd = new FormData(document.getElementById('admin-redis'));
                                $.ajax({
                                    url: '/admin/redis',
                                    type: "POST",
                                    timeout: "5000",
                                    dataType: "json",
                                    contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                                    data: fd,
                                    contentType: false,
                                    processData: false,
                                    success: function(data) {
                                        if (data.code == "200") {
                                            layer.msg(data.msg);
                                        } else {
                                            layer.msg(data.msg);
                                        }
                                    },
                                    error: function(XMLResponse) {
                                        layer.msg(XMLResponse.error);
                                    }
                                });
                            });
                        </script>