<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>404</title>
  <meta name="keywords" content="关键字">
  <meta name="description" content="描述">
  <style>
    .s-403 {
      width: 100%;
      padding-top: 18vh;
    }

    .s-403 h1 {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 100px;
      background: linear-gradient(to right, #6a87f3, #18d9b1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }

    .s-403 p {
      font-size: 15px;
      text-align: center;
      color: rgba(0, 0, 0, .45);
    }
  </style>
</head>

<body>

  <div id="app">
    <!-- 模板 -->
    <div class="s-403">
      <h1>404</h1>
      <p>请求的资源（网页等）不存在</p>
    </div>

  </div>

</body>

</html>